h2{
  color: white;
}
h1{
  color: white;
}
body{
  background-color: black;
}
.product-item {
   width: 300px;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   border: 2px solid #dab1fa;
   border-radius: 5px;
}
.product-img {
    display: block;
    width: 70%;
    position: relative;
    left: 40px;
    right: 40px;
    padding-top: 35px;
}
.product-title {
   font-size: 18px;
   font-weight: 600;
   color: #444444;
   margin-bottom:10px;
   width: 230px;
   position: relative;
   left: 35px;
   right: 35px;

} 
.product-list {
    width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
}
.button {
   display: inline-block;
   text-decoration: none;
   padding: 0 12px;
   background-color:#a173c5 ;
   color: white;
   font-size: 16px;
   line-height: 28px;
}
.product-item:hover{
   border-bottom: 2px solid #9926f1;
}
.button:hover{
   background-color: #9926f1;
}
.button:hover{
   box-shadow: 5px 5px 5px rgb(30, 1, 39);
}
.text{
  color: white;
}
